<%= csrf_meta_tag %>

<b>Scorails</b> <br>
Web User Interface that loads Random Forest PMML file   <br>
Provides a web UI to send features and receive scores. <br>
The technology stack for this project is built entirely on Ruby with Rails and <a href="https://github.com/asafschers/scoruby">Scoruby</a><br>
<br>
<b>Usage</b>        <br>
Fork <a href="https://github.com/asafschers/scorails">this repo</a>, add your model's PMML file, and direct ScoresController to it.        <br>
The scoring form will be rendered with your model's input fields. <br>
<br>
<b>Score</b> <br>
<%= form_tag 'score', method: 'post' do %>

    <% @model_view_data.categories.each do |feature, value| %>
        <%= label_tag(feature, feature) %>
        <%= select_tag(feature, options_for_select(value, @model_view_data.categorical_values[feature])) %> <br>
    <% end %>
    
    <% @model_view_data.continuous_features.each do |feature, value| %>
        <%= label_tag(feature, feature) %>
        <%= text_field_tag(feature, value) %>            <br>
    <% end %>

    <%= submit_tag('Classify') %>
<% end %>

Score: <%= @model_view_data.score %>   <br>



